:root {
  --bg-color: #fff;
  --bg-color2: #ddd;
  --text-color: #000;
  --border-color: #ddd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000;
    --bg-color2: #1b1b1b;
    --text-color: #eee;
    --border-color: #444;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.xxx {
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
}

/* ファイル一覧の行 */
.file-list-item2 {
  background-color: var(--bg-color2);
}

/* ファイル一覧の行の中の各要素 (名前、サイズ、日付...) */
.file-list-row-elm {
  margin-left: 3px;
  margin-right: 3px;
}